
.container-sm {
    display: block;
    padding: 15px;
    margin: 100px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px 5px;
    
}
form {
    padding: 20px 0px 10px 0px;
}

h1 {
    text-align: left;
    position: relative;
    bottom: 15px;
    margin: 0;
    padding: 0;
   
}
h2 {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 15px; 
 }
 
 ul {
     display: inline;
     list-style: none;
     padding: 0;
     margin: 0;
 }

li {
    font-size: 14px;
    font-weight: 300;
}
 
.coding-signoff {
    font-size: 12px;
    display: block;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 100px;
}