.container-sm {
    padding: 0px 50px;
    margin: 100px;
    border: 1px solid lightgrey;
    border-radius: 5px 5px;
}
form {
    padding: 20px 0px 10px 0px;
}

h1 {
    text-align: left;
    position: relative;
    bottom: 15px;
   
}
h2 {
     position: relative;
     bottom: 15px;
 }
.card-img-top {
    width: 80px;
    height: 80px;
}
.metrics {
    position: relative;
    bottom: 40px;
}

.signature {
    font-size: 12px;
    display: block;
    position: relative;
    bottom: 100px;
    left: 30px;
}