
.container-sm {
    display: block;
    padding: 50px 50px 0px 50px;
    margin: 100px;
    border: 1px solid lightgrey;
    border-radius: 5px 5px;
    font-size: 12px;
}
form {
    padding: 20px 0px 10px 0px;
}

h1 {
    text-align: left;
    position: relative;
    bottom: 15px;
   
}
h2 {
     position: relative;
     bottom: 15px;
 }

 ul {
     display: inline;
     list-style: none;
     margin: 0 auto;
     padding: 0 auto;
 }
.coding-signoff {
    font-size: 12px;
    display: block;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 100px;
}